/* =================== google-font-Roboto & Ek-mesirri =================== */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Roboto", sans-serif; */
/* font-family: "El Messiri", sans-serif; */

:root{
    --main-color: #ff0000;
    --second-color: #780116;
    --bg-color: #fffffc;
    --back-color: #edf6f9af;
    --text-color: #220901;
    --light-hover: #ff0101ca;
}
*{
  font-family: "Roboto", sans-serif;
}
h1{
  font-family: "El Messiri", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-top: 4rem;
}
h2,h3,h4,h5{
  font-family: "El Messiri", sans-serif;
  font-weight: 700;
}
/* -------------------------style for Popular routes---------------------------- */
.popular-title {
  margin-top: 4rem;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: "El Messiri", sans-serif;
}

.main-card{
  background: var(--bg-color);
  min-height: 110px;
  border-radius: 12px;
  border: 1px solid var(--main-color);
  transition: 0.3s ease-in-out;
}
.main-card:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,.35);
  transform: translateY(-4px);
}

.route-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-grow: 1;
  position: relative;
}

.route-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  right: 12px;
  height: 2px;
  background: #ddd;
  z-index: 0;
}

.start-icon,
.end-icon,
.bus-icon {
  font-size: 1.4rem;
  color: #999;
  z-index: 1;
}
.int{
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  font-family: "El Messiri", sans-serif;
  font-size: small;
  color: #999;
}
@media (max-width: 768px) {
  .p-routes{
    padding-top: 11rem ;
  }
  .popular-title {
  margin-top: 4rem;
  font-weight: 600;
  font-size: 2rem;
}
}

/* -------------------------style for services---------------------------- */
.service-col{
  position: relative;
}
.service-card {
  border-radius: 1rem;
  overflow: hidden; 
}

.service-img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease; /* smooth zoom */
}

.service-card:hover .service-img {
  transform: scale(1.1); /* zoom in image */
}

.service-ins {
  width: 70%;
  text-align: center;
  height: auto;
  border-radius: 1rem;
  position: absolute;
  bottom: -5%;
  left: 15%;
  right: auto;
  background: var(--bg-color);
  padding: 1rem;
  border: 1px solid var(--main-color);
  z-index: 10;
  color: #220901;
  box-shadow: 0 10px 20px rgba(248, 40, 40, 0.317);
}


/* -----------------------------search form style------------------------- */

.card{
  background-color: #fffffc75;
}
.form-label{
  color: #070200 !important;
}
input.form-control{
  background-color: #fffffc93;
  font-size: small;
}
input.form-control:focus{
  background-color: #fffffc93;
  border: 1px solid var(--main-color);
  box-shadow: none;
}
.bus-src{
  background: linear-gradient(90deg, #ff0000, #780116);
  border: none; 
  color: white;
  animation: wiggl 1s ease-in-out infinite;
}
@keyframes wiggl {
  0%  { transform: translateX(-3px); }
  50%  { transform: translateX(3px); }
  100%  { transform: translateX(-3px); }
}
.bus-src:hover{
  background: linear-gradient(90deg, #780116, #ff0000);
  color: white;
}

/* -------------------------style for Seat Reservation---------------------------- */
.seat-reservation {
  margin-top: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.854) !important;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: .5rem 0 1rem 0;
}

.legend .seat {
  text-align: center;
  line-height: 1rem;
  border-radius: 4px;
  font-size: 12px;
  cursor: default;
  height: 45px;
  width: 55px;
}

.seat.blocked { background: #333; color: white; border: .5px solid var(--main-color);}
.seat.available { background: #fffffc; color: #333; border: .5px solid var(--main-color); }
.seat.selected { background: #4CAF50; color: white; border: .5px solid var(--main-color);} /* green */
.seat.soldM { background: #ff0000; color: white; border: .5px solid var(--main-color);}    /* red */
.seat.soldF { background: #ff2ecc; color: white; border: .5px solid var(--main-color);}    /* pink */


.reservation-form {
  margin-top: 4.4rem;
  margin-right: 4rem;
}
.reservation-form select,
.reservation-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--bg-color);
  border: .5px solid var(--light-hover);
}
/* .reservation-form select, */
input:focus{
  border: none;
}
.submit-btn {
  width: 100%;
  background: linear-gradient(90deg, #ff0000, #780116);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  animation: wiggle 1s ease-in-out infinite;
}

/* Wiggle animation */
@keyframes wiggle {
  0%  { transform: translateX(-3px); background: linear-gradient(90deg, #ff0000, #780116);}
  50%  { transform: translateX(3px); background: linear-gradient(90deg, #780116, #ff0000);}
  100%  { transform: translateX(-3px); background: linear-gradient(90deg, #ff0000, #780116);}
}

/* Apply on hover */
.submit-btn:hover {
  box-shadow: 0 0 10px var(--main-color);
}

.bus-container {
  width: 350px;
  margin: auto;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background: var(--bg-color);
}

.bus-front {
  display: flex;
  justify-content: space-between;
  margin:0 20px 20px 20px;
}

.driver {
  font-weight: bold;
  width: 60px;
  text-align: center;
}

.driver svg {
  font-size: 40px;
  animation: steering-spin 2s linear infinite, fill-change 3s ease-in-out infinite;
}

/* Spin animation */
@keyframes steering-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animate fill color */
@keyframes fill-change {
  0%   { fill: red; }
  25%  { fill: blue; }
  50%  { fill: #780116; }
  75%  { fill: green; }
  100% { fill: red; }
}

.door {
  color: gray;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  width: 60px;
  text-align: center;
}

.seats {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.seat-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.seat {
  width: 50px;
  height: 50px;
  color: var(--second-color);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.seat:hover {
  transform: scale(1.05);
}

.seat.selected {
  background: #4caf50; /* Green for selected */
}

.aisle {
  width: 40px; /* space for walking */
}

.summary {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
  text-align: center;
}

/* -------------------------style for ticket---------------------------- */
.ticket-card {
  border: 2px solid var(--main-color);
  background: white;
}

.section-title {
  background: var(--main-color);
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 1rem;
}

.table {
  margin-bottom: 0;
  background: #fdfdfd;
}

.table td {
  vertical-align: middle;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .table td {
  vertical-align: middle;
  font-size: 0.7rem;
  padding: .1rem .5rem;
}
.ticket-header p{
  font-size: small;
  line-height: 0;
}
.instruction{
  font-size: smaller;
  text-align: center;
}
}



/* -------------------------style for  ---------------------------- */